.navbar {
  background-color: #2b3a6348;
  border: 1px solid #2b3a6340;
}
.navbar:hover {
  background-color: #2b3a6381;
}
.navbar h1 {
  font-family: "Padyakke Expanded One", serif;
}
.navbar nav ul li {
  color: white;
  font-family: "Jura", sans-serif;
  cursor: pointer;
  transition: all 1500ms;
}
.navbar nav ul li:hover {
  color: #f197f4;
}
