.password-page-container {
  /* background-color: black; */
  background: black url("../../assets/Vector1.png");
  background-size: cover;
  color: aliceblue;
}
.password-page-container h1,
.password-page-container .password .back-btn {
  font-family: "Padyakke Expanded One", serif;
}
.password-page-container .password {
  font-family: "Jura", sans-serif;
}
